<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>

<body>

    <form action={% url 'verify:login' %} method="post">
        {% csrf_token %}
        用户名：<input type="text">
        <br>
        密码：<input type="password">
        <br>
        <input type="text" name="code" placeholder="请输入下面图片的二维码"><br>
        <img src="{% url 'verify:get_verify' %}" alt="">
        <br>
        <button type="submit">提交</button>
    </form>
</body>

</html>